@using  BL.Models
@model UserAccount

@{
    ViewData["Title"] = "sign up";
}

<h1>Sign Up</h1>

<div class="form-validation">
    @using (Html.BeginForm("Sign_Up", "users", FormMethod.Post, new { @class = "form-sign-Up" }))
    {
    @Html.AntiForgeryToken()
    @if (this.TempData["Error"] != null)
        {
    <div class="row">
        <div class="col-xl-8">
            <span>@this.TempData["Error"]</span>
        </div>
    </div>
        }

    <div class="row">
        <div class="col-xl-6">
            <div class="form-group row">
                @Html.LabelFor(m => m.DisplayName, new { @class = "col-form-label" })
                <div class="col-lg-6">
                    @Html.TextBoxFor(m => m.DisplayName, new { Name = "DisplayName", id = "DisplayName", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="form-group row">
                @Html.LabelFor(m => m.Email, new { @class = "col-form-label" })
                <div class="col-lg-6">
                    @Html.TextBoxFor(m => m.Email, new { Name = "Email", id = "Email", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="form-group row">
                @Html.LabelFor(m => m.Pwd, "Password", new { @class = "col-form-label" })
                <div class="col-lg-6">
                    @Html.PasswordFor(m => m.Pwd, new { Name = "Pwd", id = "Password", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="form-group row">
                <input type="submit" id="reset-submit1" class="btn btn-primary mb-2" value="Create Account" /> &nbsp;&nbsp;
                <a href="~/users/sign_in" class="btn btn-primary mb-2">Sign-In</a>
            </div>
        </div>
    </div>
    }
</div>